body {
      margin-top: 5%;
      margin-left: 10%;
      margin-right: 10%;
      padding: 20px;
      font-family: sans-serif;
      
    }

    .gallery {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      row-gap: 1%;
      column-gap: 2%;
      margin-bottom: 10%;
    }
    /* Cuando el ancho sea menor a 768px, solo una columna */
  @media (max-width: 600px) {
  .gallery {
    display: grid; /* o column-count si usas columnas */
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 20px;

  }
  }


    .image-container {
      position: relative;
      width: 100%;
      padding-top: 100%; /* Esto crea un cuadrado */
      overflow: hidden;
      border-radius: 10px;
      box-shadow: 0 2px 6px rgba(29, 18, 18, 0.389);
      /* background: #fff; */
      
    }

    .image-container img {
  position: absolute;
  top: 0px;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 100%;
  /* filter: brightness(100%); Oscurece la imagen */
  transition: opacity 0.3s ease; /* Suaviza el cambio */
}

.image-container img:hover {
  opacity: 20%;
  /* filter: sepia(100%);; La aclara al pasar el cursor */
}

.overlay-text {
  position:absolute;
  bottom: 0;
  left: 0;
  right: 10;
  width: 100%;
  /* padding: 20px; */
  padding-right: 1fr;
  padding-bottom: 1fr;
  color: white;
  font-weight: bold;
  font-family: "Nata Sans", sans-serif;
  font-style: italic;
  font-size: clamp(24px, 10vw, 60px);

  display: flex;
  align-items: flex-end;
  background: rgba(255, 105, 173, 0.371); /* rosa translúcido */
  opacity: 0;
  transition: opacity 0.3s ease;
}

.image-container:hover .overlay-text {
  opacity: 1;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.bg-container {
  flex: 1;
}

.button-container {
  bottom: 0px;
}

@media (max-width: 600px) {
  .button-container {
  padding-bottom: 20px;
}

  }